doctype html
html
  head
    title #{title}
    meta(charset='utf8')
    script(src='/js/jquery.min.js')
  body
    #shang(style='width:200px; height:40px; text-align: center;') 点我上传
    script(src='/js/xUpload.js')
    script(src='/js/index.js')
        
